@model IEnumerable<EFSecond.Models.MIASTA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_MIASTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA_MIASTA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.ID_MIASTA)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA_MIASTA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_MIASTA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_MIASTA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_MIASTA })
        </td>
    </tr>
}

</table>
