@model EFSecond.Models.PILKARZE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PILKARZE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_DRUZYNY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DRUZYNY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMIE_PILKARZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE_PILKARZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO_PILKARZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO_PILKARZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIEK_PILKARZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIEK_PILKARZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POZYCJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POZYCJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NARODOWOSC_PILKARZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NARODOWOSC_PILKARZA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PILKARZA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
