@model IEnumerable<EFSecond.Models.PILKARZE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_PILKARZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DRUZYNY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMIE_PILKARZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO_PILKARZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIEK_PILKARZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POZYCJA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NARODOWOSC_PILKARZA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PILKARZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DRUZYNY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMIE_PILKARZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWISKO_PILKARZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIEK_PILKARZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POZYCJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NARODOWOSC_PILKARZA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PILKARZA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PILKARZA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PILKARZA })
        </td>
    </tr>
}

</table>
